<header>
    <img src="assets/img/indexx.png" alt="Foto-perfil"
    width="130px"
    height="130px"
    loading="eager">
    <h1>Marcos Paulo.</h1>
</header>
<aside>
    <div class="container">
        
        <nav>
            <ul>
                <li>
                    <a href="../../../../../assets/pdf/CV.pdf" target="_blank" class="btn btn-primary">Download Cv</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/marcos-paulo-83539b21b/" target="_blank" class="btn btn-secondary">Linkedin</a>
                </li>
           
               
            </ul>
        </nav>
        <section>
            <figure>
                <img src="../../../../../assets/icons/whatsapp.svg" alt="icone-para contato"
                width="22px"
                height="24px">

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5581983020174&text=Ol%C3%A1%20Marcos,%20preciso%20de%20um%20job!" target="_blank" >
                        <strong>Envie uma mensagem para: </strong>
                        <p>whatsapp: (81) 9 8302-0174</p>
                    </a>
                </figcaption>
                
            </figure>
            <figure>
                <img src="../../../../../assets/icons/envelope-regular.svg" alt="icone-para contato"
                width="22px"
                height="24px">

                <figcaption>
                    <a href="mailto:marcos.dev1996@gmail.com.br" target="_blank" >
                        <strong>Envie um e-mail para: </strong>
                        <p>marcos.dev1996&#64;gmail.om.br</p>
                    </a>
                </figcaption>
                
            </figure>
        </section>
    </div>
</aside>
 